.popup {
    width: 80%;
    padding: 15px;
    left: 0;
    margin-left: 5%;
    border: 1px solid rgb(1,82,73);
    border-radius: 10px;
    color: rgb(1,82,73);
    background: white;
    position: absolute;
    top: 15%;
    box-shadow: 5px 5px 5px #000;
    z-index: 10001;
    font-weight: 700;
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.85);
    z-index: 10000;
    display :none;
  }
  
  @media (min-width: 768px) {
    .popup {
      width: 66.66666666%;
      margin-left: 16.666666%;
    }
  }
  @media (min-width: 992px) {
    .popup {
      width: 80%;
      margin-left: 25%;
    }
  }
  @media (min-width: 1200px) {
    .popup {
      width: 33.33333%;
      margin-left: 33.33333%;
    }
  }
  
  .dialog-btn {
    background-color:#44B78B;
    color: white;
    font-weight: 700;
    border: 1px solid #44B78B;
    border-radius: 10px;
    height: 30px;
    width: 30%;
  }
  .dialog-btn:hover {
    background-color:#015249;
    cursor: pointer;
  }
  .text-right {
     text-align: center !important; 
}